nltk
absl-py
ansible
apturl
asn1crypto
astor
attrs
Automat
backcall
beautifulsoup4
bleach
Brlapi
certifi
cffi
chardet
Click
command-not-found
constantly
coremltools
cryptography
cssselect
cupshelpers
cycler
decorator
defer
defusedxml
distro-info
Django
dnspython
entrypoints
evdev
Flask
Flask-Cors
Flask-Ext
future
gast
google-pasta
googletrans
graphviz
grpcio
h5py
httplib2
hyperlink
idna
incremental
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonify
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
keyring
keyrings.alt
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
llvmlite
louis
lxml
macaroonbakery
Mako
Markdown
MarkupSafe
matplotlib
mistune
mtranslate
mxnet
nbconvert
nbformat
netifaces
notebook
numba
numpy
oauth
olefile
opt-einsum
pandas
pandocfilters
parsel
parso
patsy
pexpect
pickle-mixin
pickleshare
Pillow
plotly
pocketsphinx
prettytable
prometheus-client
prompt-toolkit
protobuf
ptyprocess
py-translate
pyasn1
pyasn1-modules
pycairo
pycparser
pycrypto
pycups
PyDispatcher
Pygments
pygobject
PyHamcrest
pymacaroons
pymongo
PyNaCl
pyOpenSSL
pyparsing
pyRFC3339
pyrsistent
python-apt
python-dateutil
python-debian
pytz
pyudev
pyxdg
PyYAML
pyzmq
qtconsole
queuelib
reportlab
requests
requests-unixsocket
resampy
retrying
scikit-learn
scikit-surprise
scipy
Scrapy
SecretStorage
selenium
Send2Trash
service-identity
simplejson
six
sklearn
soupsieve
SpeechRecognition
sqlparse
statsmodels
surprise
system-service
systemd-python
tensorboard
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
tornado
traitlets
turicreate
Twisted
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
uWSGI
virtualenv
w3lib
wadllib
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
xkit
zope.interface
